label.valid {
    width: 24px;
    height: 24px;
    background: url(assets/img/valid.png) center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
}
label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

.search
{
background-color: #CFCFC4;
border: 5px solid white;
border-radius: 15px;
}

.list
{
background-color: #93C572;
border: 5px solid white;
border-radius: 15px;
}
.go
{
background-color: #A1CAF1;
border: 5px solid white;
border-radius: 15px;
}
.footer {
   position:fixed;
bottom:0;
text-align: center ;
font-size: 16px ;
font-family: verdana ;
width: 600px ;
height: 50px ;
background-color: #738678 ;
}

nav
{
    padding-top: 20px;

}

.navbar
{
    background-color: #ACE1AF;
}

#footer
{
    background-color: #2f3235;

} 
/*
#footer{
    position:fixed;
    height:50px;
    background-color:#2f3235;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
} */
p {
  margin: 0 0 15px 0;
}
body
{
    background-color: #eeeef4;
}
 .animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars
{
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
}


.bs-example{
        margin: 20px;
    }

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
   margin: 80px;
}

.list-group{
        width: 200px;
    }